{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends ":default:index.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
      <div class="page-header">
          <center><h1>Informations</h1></center>
      </div>
      <div class="well">
            <p align="center" class="Style6 Style25 Style29">Faculté des Sciences et Techniques de Tanger. Ancienne Route de l'Aéroport, Km 10, Ziaten. BP : 416. Tanger-Maroc
            <br />
           Tél. : +212 (0) 5 39 39 39 54 | Fax : +212 (0) 5 39 39 39 53 | E-mail : doyen@fstt.ac.ma  <br />
           Copyright © 2016 · www.fstt.ac.ma . All Rights Reserved</p>
      </div>

{% endblock %}